{% extends "layout.njk" %}

{% block content %}
    <div class="grid">
        <div class="navbar">
            <div class="logo">
                <img src="./assets/logo.png"/>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Categories</a>
                    </li>
                    <li>
                        <a href="">Store</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <section class="upper-section">
            <div class="left">
                <h1>Welcome to Kink.com</h1>
                <p class="promo-text">Get Kink for 50% off</p>
            </div>
            <div class="placeholder">
                <img src="./assets/placeholder.png"/>
            </div>
        </section>
        <section class="lower-section">
            <div class="form-card">
                <p class="form-title">Post a comment</p>
                <div id="success"></div>
                <div id="failed"></div>
                <form name="comment-form" id="comment-form" method="POST">
                    <div class="form-control">
                        <input type="text" name="username" id="username" placeholder="Username" required="required">
                    </div>
                    <div class="form-control">
                        <textarea name="comment" id="comment-text" placeholder="Comment" required="required"></textarea>
                    </div>
                    <input type="submit" value="Post Comment" class="submit">
                </form>
            </div>
            <div class="comments" id="comments"></div>
        </section>
    </div>
{% endblock %}